@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli|Raleway&display=swap');

/*Dark cold bg color: #161925*/

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #161925;
	font-family: 'Quicksand', sans-serif; 
}

div {
	border: solid #B0B0B0 0pt;
	width: 100%;
	height: 100%;
}

button {
	font-family: 'Quicksand', sans-serif; 
	background-color: white; 
	color: #161925;
	font-weight: 700;
	padding: 8px 18px;
	border: solid #161925 2pt;
	border-radius: 7pt;
	text-align: center;
	display: inline-block;
	transition: background 0.2s cubic-bezier(.33,.66,.66,1);
	transitoion: color 0.2s cubic-bezier(.33,.66,.66,1);
}

button:hover {
	cursor: pointer;
	background-color: #161925;
	color: white;
}

h1 {
	font-family: 'Quicksand', sans-serif; 
	line-height: 50px;
	font-weight: normal;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

h3 {
	font-family: 'Quicksand', sans-serif; 
	line-height: 55px;
	font-weight: normal;
}

p {
	font-family: 'Quicksand', sans-serif; 
	line-height: 35px;
	font-weight: 400;
	font-size: 19px;

}

a {
	cursor: pointer;
	color: inherit;
  	text-decoration: none;
}

ul {
	border: solid black 0.5px;
	border-radius: 10px;
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 10px;		
	transition: background 0.2s cubic-bezier(.33,.66,.66,1);
}

.li-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.li-bot {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

li:hover {
	background: #ef8b80;
	cursor: pointer;
} 

.container {
	height: 80%;
	width: 45%;
	margin-left: 15%;
	margin-top:10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about {
	margin-top: 10%; 
	margin-left: 15%;
	margin-bottom: 20%;
	height: auto;	
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.about-p {
	width: 50%;
	align-self: flex-start;
}

.profile {
	width: 40%;
}

.projects {
	margin-left: 15%;
	margin-top: 30px;
	height: auto;	
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.projects img {
	width: 95%;
}

.projects p {
	width: 90%;
}

.bold {
	font-weight: 600;
}

.intro {
	opacity: 0;
}

.hidden {
	color: rgba(0, 0, 0, 0);
}

.red {
	color: red;
}

.email {
	font-weight: 600;
	text-decoration:none;
	border-bottom: 2px solid #ef8b80;
	box-shadow: inset 0 -4px 0 #ef8b80;
	color: inherit;
	transition: background 0.2s cubic-bezier(.33,.66,.66,1);
}

.email:hover {
	background: #ef8b80;
	cursor: pointer;
}




.toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.toggle img {
	width: 15px;
	
}

#moon {
	margin-left: 7px;
}



.relative-position {
	position:relative
}



.margin-zero {
	margin:0;
}

.flex-start {
	justify-content: flex-start
}

.margin-top {
	margin-top: 300px;
}

.experience {
	margin-left: 15%;
	margin-bottom: -15%;
}

.footer {
	margin-left: 15%;
	margin-bottom: 5%;
	margin-top: 10%;
	height: auto;	
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: solid gray 0.5pt;
}

#hidden-btn {
	display: none;
}

@media screen and (max-width:700px) {
	
	h1 {
		font-size: 30px;
		line-height: 50px;
	}

	h2 {
		font-size: 20px;
		line-height: 35px;
	}
	
	div {
		height: 100%;
	}
	
	.container {
		width: 90%;
		margin: 5%;
	}
	
	.about {
		flex-direction: column;
		width: 90%;
		margin: 5%;
		margin-top: 0;
		margin-bottom: 100px;
	}
	
	.about-p {
		width: 100%;
	}
	
	.toggle {
		display: none;
	}
	
	.profile {
		width: 80%
	}
	
	.projects{
		flex-direction: column;
		width: 90%;
		margin: 5%;
		margin-top: 0;
	}
	
	.experience {
		margin-bottom: -50%;
	}
	
	.hidden {
		display:none;
	}
	
	.footer {
		flex-direction: column;
		width: 90%;
		margin: 5%;

	}
}

@media screen and (max-width:1300px) { 
	.container {
		margin-top: 5%;
	}
}
